
{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>РОУНБ - к юбилею Салтыкова-Щедрина</title>
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.ico'%}" type="image/x-icon">
    {% block page_css %}{% endblock %}
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" href="{% url 'mainpage' %}">
              <img src="{% static 'images/logo.png' %}" alt="РОУНБ" width="30" height="24">
            </a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'mainpage' %}">Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Биография
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'housepage' %}">Дом Щедрина</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'meeting' %}">Знакомство с Хвощинской</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'biography' %}">Краткая биография</a></li>
              </ul>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Служба
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'employment' %}">Рязанская губерния накануне приезда Щедрина</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'tr_department' %}">Служба в Рязанской казенной палате </a></li>
                <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'hludovskoe' %}">Хлудовское дело</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'kislinskaya' %}">Дело помещицы Кислинской</a></li>
                
              </ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'communitywork' %}">Общественная деятельность</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'materials' %}">Материалы</a>
            </li>
          </ul>
         <div class="navbar-nav ms-auto">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 <a class="nav-link p-2" href="https://vk.com/biblioryazan" target="_blank" title="VK">
  VK
</a>
  <a class="nav-link p-2" href="https://t.me/biblioryazan" target="_blank" rel="noopener" title="Telegram">
    <i class="bi bi-telegram"></i>
  </a>
  <a class="nav-link p-2 d-flex align-items-center" href="tel:+74912935509" title="Позвонить">
    <i class="bi bi-telephone me-1"></i>(4912) 93-55-09
  </a>
</div>

</div>

        </div>
      </div>
    </nav>
      </div>
      
    </main>


    <main class="container my-5">
        {% block content %}
        {% endblock %}
{% block pagination %}
<div class="container my-5 text-center">
  <div class="d-flex justify-content-between flex-wrap gap-3">
    {% if prev_page %}
    <a href="{{ prev_page }}" class="btn btn-outline-primary">← Предыдущая</a>
    {% endif %}
    
    {% if not is_mainpage %}
    <a href="{% url 'mainpage' %}" class="btn btn-outline-secondary">На главную</a>
    {% endif %}
    
    {% if next_page %}
    <a href="{{ next_page }}" class="btn btn-outline-primary">Следующая →</a>
    {% endif %}
  </div>
</div>
{% endblock %}
    </main>

   <!-- это для плашки снизу-->
    <footer class="bg-light py-4 mt-5">
      <div class="container text-center">
        <a class="navbar-brand" href="https://rounb.ru/">
              <img src="{% static 'images/logo.png' %}" alt="РОУНБ" width="30" height="24">
       <p class="mb-0">
    <span class="d-block d-md-inline">РОУНБ им. Горького © 2026</span>
    <span class="d-block d-md-inline">К юбилею М.Е. Салтыкова-Щедрина</span>
</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>