{% extends 'base.html' %}
{% load static %}

{% block title %}Общественная деятельность{% endblock %}

{% block page_css %}
<link href="{% static 'styles/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bio-styles">
    <div class="container">
        <div class="bio-card">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="col-12 text-center display-4">
                        Общественная деятельность</h1>
    </div>
</div>

                    <p class="fs-5 lh-lg">М. Е. Салтыков-Щедрин  был постоянным членом Статистического комитета, Попечительского совета Рязанской публичной библиотеки, затем директором Рязанского губернского комитета Попечительского общества  о тюрьмах, осуществлял общее руководство изданием газеты «Рязанские губернские ведомости».
 
</p>
                    <p class="fs-5 lh-lg">Интерес к губернской газете, которой ему предстояло руководить, Салтыков проявил с первых же дней своего появления в Рязани. В ней публиковались материалы о культурной жизни, народном образовании, деятельности публичной библиотеки. 
</p>
                    <p class="fs-5 lh-lg">В неофициальной части  газеты «Рязанские губернские ведомости» Салтыков открыл широкий доступ к статьям и материалам, относящимся к предстоящей отмене крепостного права. В большей части это были перепечатки из столичных изданий либерального и славянофильского направления – из «Земледельческой газеты», «Экономического указателя» И. В. Вернадского, журналов 
А. И. Кошелева «Русская беседа» и «Сельское благоустройство» и других. 

                    </p>
                   <div class="float-start me-4 mb-3" style="width: 220px;">
    <div class="card shadow">
        <img class="card-img-top w-100 h-100" src="{%static 'images/shedrin1860.jpg'%}" 
             alt="Портрет 60-х" style="height: 200px; object-fit: cover;" />
        <div class="card-footer text-muted small">
            М.Е. Салтыков-Щедрин, 1860-е гг.
        </div>
    </div>
</div>
                    <p class="fs-5 lh-lg">
Были опубликованы статьи о преимуществе вольнонаемного труда, наделения крестьян землей, об освобождении крестьян, об образовании и его демократизации. В газете печатались материалы: «Об образовании государственных крестьян», «Замечания по поводу женских училищ», «Исторические сведения об учебных заведениях в Рязанской губернии», «Об открытии в г. Рязани воскресной школы», «Сведения о ходе образования в течение 1860 года».

                    </p>
                    

                    <p class="fs-5 lh-lg">Одним из эффективных средств распространения образования газета считала развитие библиотек, посвятив им серию статей и заметок. Была опубликована история первой публичной библиотеки, открытие которой из-за недостатка средств, в том числе и на помещение, равнодушия властей  тянулось восемнадцать лет. Для пропаганды книги в губернии газета вела библиографический отдел.  Кроме этого, в газету привлекались местные силы для разработки краеведческих тем и материалов как современных, так и исторических.
</p>
                    <p class="fs-5 lh-lg">Рязанская публичная библиотека была открыта 14 января (2 января – по старому стилю)  1858 г., размещалась  в доме купеческой вдовы Евгении Ивановны Соловьевой на улице Астраханской (ныне ул. Ленина, 38, здание средней  школы  № 7).
</p>
 <div class="float-end ms-4 mb-3" style="width: 250px;">
                        <div class="card shadow">
                            <img class="card-img-top" src="{%static 'images/newspaper.jpg'%}" alt="Газета" />
                        <div class="card-footer text-muted small">
                            Вырезка из газеты 1859г.
                        </div>
                    </div>
                    </div>
                    <p class="fs-5 lh-lg">При открытии библиотека имела 609 названий книг в 1 275 томах и 4 300 номеров периодических изданий. Много книг передали в фонд библиотеки М. П. Полуденский, А. С. Клеванов,                     А. И. Кошелев, А. Н. Демидов, П. А. Сазонов, М. Е. Сетянин,          А. А. Шереметевский, господа – Бартенев, Максимович, Шевырев и другие.
</p>
                    <p class="fs-5 lh-lg">С самого открытия библиотеки в ее фондах имелись произведения М. Е. Салтыкова-Щедрина. Так, в отчете библиотеки за 1859 год отмечено, что «Губернские очерки» выдавались читателям 20 раз</p>
                   
                    <p class="fs-5 lh-lg">Прибыв в Рязань в апреле 1858 г., М. Е. Салтыков-Щедрин интересовался работой библиотеки, был членом ее Попечительского  совета (1858–1859 гг.). По отчету библиотеки за 1858 г. в списке пожертвовавших деньги значится имя М. Е. Салтыкова. По отчету за 1859 г. видно, что он жертвует библиотеке 10 рублей и журналы «Искра» и «Московский вестник» за тот же год. Очень активно участвовали в пополнении фонда библиотеки «Рязанские губернские ведомости», общее руководство которыми 
Салтыков-Щедрин осуществлял: редакция бесплатно передавала библиотеке свою газету и поступившие в обмен на нее другие периодические издания.</p>
                    <p class="fs-5 lh-lg">В 1859 г. Салтыков-Щедрин выслал из Рязани тверскому губернатору «Положение об устройстве публичной библиотеки», которое легло в основу устава Тверской библиотеки и помогло открыть в этом городе 22 мая (9 мая по старому стилю) 1860 г. публичную библиотеку. 
</p>
                    <p class="fs-5 lh-lg">В фойе библиотеки установлена мемориальная доска, созданная в 1982 г. скульптором Ю. В. Крыловым, с барельефом  писателя и словами: «Рязанская публичная библиотека открыта 2 (14) января 1858 года. В числе попечителей был писатель-сатирик Михаил Евграфович Салтыков-Щедрин».
</p>
<div class="mx-auto mb-3" style="width: 800px;">
    <div class="card shadow">
        <img class="card-img-top" src="{%static 'images/sculptureschedrin.jpg'%}" 
             alt="Барельеф в фойе" style="height: 600px; width: 800px;;" />
        <div class="card-footer text-muted small text-center">
            Мемориальная доска в РОУНБ
        </div>
    </div>
</div>
    
                </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}