{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mb-4">
        <div class="col-12 text-center">
          <h1 class="display-4">Хлудовское дело</h1>
        </div>
        <div class="fs-5 lh-lg">
            <p>Количество дел, рассмотрением которых занимался Салтыков-Щедрин на посту вице-губернатора, весьма значительно. Большой общественный резонанс получило дело о массовом жульничестве помещиков Зарайского и Егорьевского уездов Рязанской губернии и фабрикантов Хлудовых.</p>
            <p>«Чудовищное дело», как назвал его сам писатель, тревожило Салтыкова-Щедрина всю жизнь. Стараясь обеспечить свою бумаго-прядильную фабрику в Егорьевске дешевой рабочей силой, Хлудовы обратились к окрестным помещикам, стремившимся накануне реформы сбыть крепостных с рук, и предложили им втайне от крестьян подписать им вольную.</p>  
            <div class="float-start me-4 mb-3" style="width: 220px;">
                <div class="card shadow">
                    <img class="card-img-top w-100 h-100" src="{%static 'images/AI_Chludov.jpg'%}" alt="Алексей Иванович Хлудов." style="height: 200px; object-fit: cover;" />
                    <div class="card-footer text-muted small">Алексей Иванович Хлудов</div>
                </div>
            </div>
            <p>Крестьяне, продолжая считать себя крепостными, вынуждены были покориться приказам помещиков и идти на фабрику. Помещикам в преддверии реформы сделка была выгодна, так как Хлудовы за каждого крестьянина  платили от 200 до 300 рублей. Крестьянская земля в этом случае оставалась помещику.</p> 
            
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>"Сделка состояла в том, что крестьянам и дворовым людям, тайно от них, давалась «вольная», и затем, тоже без их ведома, от имени каждого, в качестве уже вольноотпущенного, заключался долгосрочный контракт с хитроумным фабрикантом".</p>
                        <footer class="blockquote-footer">писал М. Е. Салтыков в «Мелочах жизни».</footer>
                    </blockquote>
                </div>
            </div>
            <p>Михаил Евграфович, разоблачив это дело, отдал под суд помещиков, членов земских судов Егорьевского и Зарайского уездов, замешанных в преступлении. В ходе расследования, которое велось под контролем вице-губернатора, выявилось множество нарушений закона, и только отъезд Салтыкова-Щедрина из Рязани помешал доведению до законного конца «хлудовского дела». У Хлудовых нашлись высокопоставленные заступники, но от литературно-общественного суда купцы и помещики не ушли.</p>
            <div class="float-end ms-4 mb-3" style="width: 200px;">
                <div class="card shadow">
                    <img class="card-img-top" src="{%static 'images/hludov2.jpg'%}" alt="Герасим Иванович Хлудов." />
                    <div class="card-footer text-muted small">Герасим Иванович Хлудов.</div>
                    </div>
                    </div>
            <p>Материалы дела были описаны М. Е. Салтыковым-Щедриным в статье «Еще скрежет зубовный», вышедшей в начале 1860 г., а также положены в основу пьесы «Съезд», причем прототипом купца Прохладина стал один из братьев Хлудовых.</p>
            <p>Эти произведения попали под запрет цензуры. Переделанный вариант пьесы под новым названием «Соглашение» М. Е. Салтыков-Щедрин опубликовал в журнале Ф. М. Достоевского «Время». Статья «Еще скрежет зубовный» увидела свет в 1915 г. в журнале «Вестник Европы». Напечатана она была с автографической рукописи, под  которой стояла подпись: «М. Салтыков. 23 февраля 1860 г. Рязань».</p>
            <div class="fs-5 lh-lg">
                <div class="mx-auto mb-3 col-12 col-md-8 col-lg-6">
                <div class="card shadow">
                    <img class="card-img-top img-fluid" src="{%static 'images/manufacture.jpg'%}" alt="Егорьевск. Фабрика Хлудовских."/>
                    <div class="card-footer text-muted small text-center">Егорьевск. Фабрика Хлудовских.</div>
                </div>
            </div>
{% endblock content %}
