<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дело Кислинской</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Дело Кислинской</h1>

<p>Основным направлением служебной деятельности рязанского вице-губернатора стала борьба со злоупотреблениями помещиков. Спустя два месяца после приезда в Рязань Салтыков-Щедрин писал: «…Я если не раскаиваюсь, то во всяком случае, крайне негодую на себя за то, что взял место в Рязани. Подобного скопища всякого рода беззаконий и бессмыслия вряд ли можно найти, и всякое плутовство есть не более как добродушие (по сравнению) с плутовством рязанским… Рвения к освобождению крестьян незаметно никакого, а напротив, слышен плач и скрежет зубовный».</p>

<p>Много времени уделил Салтыков-Щедрин «делу Кислинской». Ее дворовые мальчики, четырнадцатилетний Иван и двенадцатилетний Гаврило Афанасьевы, из-за жестокого обращения своей хозяйки, опасаясь побоев, приняли попытку самоубийства. Салтыков-Щедрин, потрясенный произошедшим, употребил всю свою власть, чтобы наказать виновную. Преодолевая сопротивление влиятельных лиц из местного дворянства, которые не хотели придавать огласке дело, вице-губернатор сообщил о нем министру внутренних дел С. С. Ланскому, через которого о рязанском происшествии узнал и сам Александр II.</p>

<p>Но с делом Кислинской произошло то же, что и с «хлудовским делом»: стоило Салтыкову-Щедрину уехать из Рязани, суд оправдал помещицу.</p>

<p>Эта история о трагедии двух дворовых мальчиков, доведенных до отчаяния крепостной жестокостью, послужила документальной основой широко известного щедринского рассказа «Миша и Ваня», который по праву считается одним из наиболее острых антикрепостнических произведений писателя. В центре рассказа зловещий образ барыни Катерины Афанасьевны, прообразом которого стала помещица Кислинская.</p>

<p>Реальный случай из рязанского периода жизни Салтыкова-Щедрина был облечен им в художественную форму и стал одним из наиболее ярких примеров обличения русской литературой крепостнической дикости, не щадящей ни взрослых, ни детей.</p>

</body>
</html>