{% extends 'base.html' %}
{% load static %}

{% block title %}Общественная деятельность{% endblock %}

{% block page_css %}
<link href="{% static 'styles/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bio-styles">
    <div class="container">
        <div class="bio-card">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="col-12 text-center display-4">
                        Знакомство с Хвощинской</h1>
    </div>
</div>

                    <p class="fs-5 lh-lg">Салтыков-Щедрин высоко ценил и уважал Надежду Дмитриевну Хвощинскую. Великий сатирик познакомился с ней еще в 1858 г. во время приезда в Рязань, бывал в доме Хвощинских на Семинарской улице (ныне полуразрушенный дом по адресу: улица  Семинарская, 10). 
</p>
  <div class="float-end ms-4 mb-3" style="width: 220px;">
    <div class="card shadow">
        <img class="card-img-top w-100 h-100" src="{%static 'images/hwoshinskaya.png'%}" 
             alt="Хвощинская" style="height: 200px; object-fit: cover;" />
        <div class="card-footer text-muted small">
           Хвощинская Н.Д.
        </div>
    </div>
</div>
                    <p class="fs-5 lh-lg">Надежда Дмитриевна Хвощинская родилась в 1822 г. в семье небогатого помещика Д. К. Хвощинского. Она была старшим ребенком в семье. Позже родились Софья и Прасковья. Сестры рано научились читать и выпустили под руководством отца рукописный журнал «Звездочка». Глава семейства решил заняться коннозаводством, но вскоре он разорился и, продав имение, семья переехала в Рязань. Сменив несколько квартир, Хвощинские поселились в доме на Семинарской улице.

</p>
                    <p class="fs-5 lh-lg">Сестры занимались литературой. До сих пор сохранилась тетрадка со стихами Надежды Дмитриевны. Впервые ее стихи были опубликованы в журнале «Сын Отечества», затем в «Литературной газете», журналах «Пантеон», «Отечественные записки». В конце 1850-х годов Н. Д. Хво-щинская начинает писать прозу. Печаталась под псевдонимом
В. Крестовский.
 

                    </p>
 <div class="float-end ms-4 mb-3" style="width: 250px;">
                        <div class="card shadow">
                            <img class="card-img-top" src="{%static 'images/rukopisi.png'%}" alt="Рукописи" />
                        <div class="card-footer text-muted small">
                           Черновая рукопись из "Отечественных записок"
                        </div>
                    </div>
                    </div>
                    <p class="fs-5 lh-lg">
В продолжение 30 лет Салтыков-Щедрин состоял в переписке с 
Н. Д. Хвощинской, часто и настойчиво приглашая сотрудничать в 
«Отечественных записках», выходивших с 1876 г. под его редакцией. «Для журнала нашего особенно дороги ваши произведения, – писал он Хвощинской, став редактором журнала, – так как в них публика всегда найдет для себя отличное и здоровое чтение. Нынешнее время для большинства журналов не весьма благоприятное, и только при содействии ярких дарований можно рассчитывать на успех. Поэтому вы окажете журналу существенную услугу, прислав обещанный роман». 
                    </p>
                    

                    <p class="fs-5 lh-lg">Роман Н. Д. Хвощинской «В ожидании лучшего» (1860) заинтересовал  М. Е. Салтыкова-Щедрина. Говоря коротко об особенностях художественного метода Хвощинской в связи с этим романом, Щедрин указывает, что она в своих сочинениях стоит на почве «психологических тонкостей». Называя Хвощинскую «очень даровитой» писательницей, Щедрин считает, что она «не пользовалась у нас тем успехом, который принадлежит ей по праву таланта». 
</p>
               
</p>
    
                </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}