<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ранняя карьера</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>М. Е. Салтыков-Щедрин – рязанский вице-губернатор. 1858–1860 гг.</h1>

    <h2> Рязанская губерния  накануне приезда М. Е. Салтыкова-Щедрина (конец 50-х гг. XIX века)</h2>

<p>
    По данным на  1859 г.,  в Рязани насчитывалось 21 614 жителей. В основном это были чиновники и мещане, а также духовные лица, средние и мелкие купцы, цеховые люди и люди сельских сословий. Помещики  жили в своих усадьбах или в столицах. В городе была общественная библиотека, открытая в январе 1858 г., пять учебных заведений: мужская гимназия, духовная семинария и три начальных училища – Мариинское женское, для детей канцелярских служителей и для девиц духовного звания.
</p>

<p>
    В 1857 г. в Рязани проходила министерская ревизия присутственных мест и губернии,  получившая название «ревизия Куприянова» – по имени чиновника Министерства внутренних дел, возглавлявшего эти работы. Ревизия вскрыла страшную картину полного развала всех дел по управлению губернией, полное разложение местной администрации, начиная с губернатора П. П. Новосильцева, вице-губернатора С. С. Веселовского и кончая мелкими чиновниками. Рязань характеризовалась как одна из наиболее «разваленных» и «развращенных взяточничеством» губерний.  Факты и обстоятельства, вскрытые ревизией А. Я. Куприянова, потрясли министра внутренних дел С. С. Ланского и привели к одновременному снятию со своих постов губернатора Новосильцева, вице-губернатора  Веселовского и других крупных чиновников. Про рязанского губернатора Александр II сказал: «Его следовало бы судить».
</p>

<p>
    Приказ о назначении чиновника особых поручений Министерства внутренних дел, коллежского советника Салтыкова вице-губернатором Рязани был подписан Александром II 6 марта 1858 г.  Назначая Салтыкова-Щедрина на пост вице-губернатора, Александр II сказал: «Пусть едет служить, да делает сам так, как пишет».
</p>

<p>
    Это было время подготовки крестьянской реформы 1861 г., период реформ и преобразований. Поэтому и  было решено отправить писателя на практике проводить в жизнь свои идеи и именно в такой «разваленной» губернии, как Рязанская.
</p>

<p>
    Новое назначение было радостно воспринято Салтыковым-Щедриным.  В письме к брату он писал: «Я назначен совершенно неожиданно вице-губернатором в Рязань… Я совершенно доволен. Губерния хорошая, близко от Москвы, и губернатор только что назначенный из лицейских».
</p>

<p>
    В канун крестьянской реформы и ожидаемых в связи с нею  потрясений на пост одного из руководителей такой «буйной и беспокойной губернии», как Рязанская,  назначался автор сенсационно-обличительных «Губернских очерков». Факт этот привлек к себе внимание не только в Рязани, но и в других городах, в том числе и в обеих столицах.
</p>

<p>
    В воспоминаниях о Салтыкове в Рязани его младший сослуживец, который был делопроизводителем в Губернском правлении, демократически настроенный Сергей Николаевич Егоров писал по этому поводу: «Живо помню восторг молодости, воспитанной на Белинском, и смущение, даже страх, людей старого склада при его назначении в Рязань…» Имя Щедрина воспринималось здесь как воплощение какой-то обличающей и грозной силы.
</p>

<p>
    13 апреля 1858 г. Салтыков-Щедрин приезжает в Рязань. В день приезда и в ближайшие за ним  дни были сделаны необходимые деловые визиты. Салтыков впервые надел соответствующую его должности парадную форму – однобортный темно-зеленый полукафтан со шпагою гражданского образца и треугольной шляпою.
</p>

<p>
    По правилам служебного этикета официальные визиты должны были начаться  с  губернатора. Им был Михаил Карлович Клингенберг, действительный статский советник и обладатель придворного звания камергера, бывший лицеист.  В Рязани М. К. Клингенберг появился всего за 10 дней до Салтыкова.
</p>

<p>
    Второй визит нового  вице-губернатора  полагался к духовному руководителю города и губернии – к главе Рязанской епархии. Им был в ту пору архиепископ Гавриил. Через месяц после визита Салтыкова глава Рязанской епархии по преклонности лет, как сообщили «Губернские ведомости»,  удалился на покой в Успенский Ольгов монастырь. С июля 1858 г. в Архиерейском доме появился новый глава – архиепископ Смарагд, с которым Салтыкову пришлось заседать в разного рода попечительных комитетах. Резиденция архиепископа находилась в Кремле, и Салтыков имел возможность сразу же увидеть архитектурные памятники города: Успенский собор, Дворец Олега, Архангельский и Христорождественский соборы, церковь святого Духа.
</p>

</body>
</html>