<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хлудовское дело</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Хлудовское дело</h1>

<p>
    Количество дел, рассмотрением которых занимался Салтыков-Щедрин на посту вице-губернатора, весьма значительно. Большой общественный резонанс получило дело о массовом жульничестве помещиков Зарайского и Егорьевского уездов Рязанской губернии и фабрикантов Хлудовых.
</p>

<p>
    «Чудовищное дело», как назвал его сам писатель, тревожило Салтыкова-Щедрина всю жизнь. Стараясь обеспечить свою бумаго-прядильную фабрику в Егорьевске дешевой рабочей силой, Хлудовы обратились к окрестным помещикам, стремившимся накануне реформы сбыть крепостных с рук, и предложили им втайне от крестьян подписать им вольную.  «Сделка состояла в том, – писал потом М. Е. Салтыков в «Мелочах жизни», – что крестьянам и дворовым людям, тайно от них, давалась «вольная», и затем, тоже без их ведома, от имени каждого, в качестве уже вольноотпущенного, заключался долгосрочный контракт с хитроумным фабрикантом». Крестьяне, продолжая считать себя крепостными, вынуждены были покориться приказам помещиков и идти на фабрику. Помещикам в преддверии реформы сделка была выгодна, так как Хлудовы за каждого крестьянина  платили от 200 до 300 рублей. Крестьянская земля в этом случае оставалась помещику.
</p>

<p>
    Михаил Евграфович, разоблачив это дело, отдал под суд помещиков, членов земских судов Егорьевского и Зарайского уездов, замешанных в преступлении. В ходе расследования, которое велось под контролем вице-губернатора, выявилось множество нарушений закона, и только отъезд Салтыкова-Щедрина из Рязани помешал доведению до законного конца «хлудовского дела». У Хлудовых нашлись высокопоставленные заступники, но от литературно-общественного суда купцы и помещики не ушли.
</p>

<p>
    Материалы дела были описаны М. Е. Салтыковым-Щедриным в статье «Еще скрежет зубовный», вышедшей в начале 1860 г., а также положены в основу пьесы «Съезд», причем прототипом купца Прохладина стал один из братьев Хлудовых.
</p>

<p>
    Эти произведения попали под запрет цензуры. Переделанный вариант пьесы под новым названием «Соглашение» М. Е. Салтыков-Щедрин опубликовал в журнале Ф. М. Достоевского «Время». Статья «Еще скрежет зубовный» увидела свет в 1915 г. в журнале «Вестник Европы». Напечатана она была с автографической рукописи, под  которой стояла подпись:          «М. Салтыков. 23 февраля 1860 г. Рязань».
</p>


</body>
</html>