<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Общественная деятельность</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Общественная деятельность</h1>

<p>
    М. Е. Салтыков-Щедрин  был постоянным членом Статистического комитета, Попечительского совета Рязанской публичной библиотеки, затем директором Рязанского губернского комитета Попечительского общества  о тюрьмах, осуществлял общее руководство изданием газеты «Рязанские губернские ведомости».
</p>

<p>
    Интерес к губернской газете, которой ему предстояло руководить, Салтыков проявил с первых же дней своего появления в Рязани. В ней публиковались материалы о культурной жизни, народном образовании, деятельности публичной библиотеки.
</p>

<p>
    В неофициальной части  газеты «Рязанские губернские ведомости» Салтыков открыл широкий доступ к статьям и материалам, относящимся к предстоящей отмене крепостного права. В большей части это были перепечатки из столичных изданий либерального и славянофильского направления – из «Земледельческой газеты», «Экономического указателя» И. В. Вернадского, журналов А. И. Кошелева «Русская беседа» и «Сельское благоустройство» и других.
</p>

<p>
    Были опубликованы статьи о преимуществе вольнонаемного труда, наделения крестьян землей, об освобождении крестьян, об образовании и его демократизации. В газете печатались материалы: «Об образовании государственных крестьян», «Замечания по поводу женских училищ», «Исторические сведения об учебных заведениях в Рязанской губернии», «Об открытии в г. Рязани воскресной школы», «Сведения о ходе образования в течение 1860 года».
</p>

<p>
    Одним из эффективных средств распространения образования газета считала развитие библиотек, посвятив им серию статей и заметок. Была опубликована история первой публичной библиотеки, открытие которой из-за недостатка средств, в том числе и на помещение, равнодушия властей  тянулось восемнадцать лет. Для пропаганды книги в губернии газета вела библиографический отдел.  Кроме этого, в газету привлекались местные силы для разработки краеведческих тем и материалов как современных, так и исторических.
</p>


</body>
</html>