<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Попечитель Рязанской библиотеки</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Попечитель Рязанской библиотеки</h1>

<p>
    Рязанская публичная библиотека была открыта 14 января (2 января – по старому стилю)  1858 г., размещалась  в доме купеческой вдовы Евгении Ивановны Соловьевой на улице Астраханской (ныне ул. Ленина, 38, здание средней  школы  № 7).
</p>

<p>
    При открытии библиотека имела 609 названий книг в 1 275 томах и 4 300 номеров периодических изданий. Много книг передали в фонд библиотеки М. П. Полуденский, А. С. Клеванов,                     А. И. Кошелев, А. Н. Демидов, П. А. Сазонов, М. Е. Сетянин,          А. А. Шереметевский, господа – Бартенев, Максимович, Шевырев и другие.
</p>

<p>
    С самого открытия библиотеки в ее фондах имелись произведения М. Е. Салтыкова-Щедрина. Так, в отчете библиотеки за 1859 год отмечено, что «Губернские очерки» выдавались читателям 20 раз.
</p>

<p>
    Прибыв в Рязань в апреле 1858 г., М. Е. Салтыков-Щедрин интересовался работой библиотеки, был членом ее Попечительского  совета (1858–1859 гг.). По отчету библиотеки за 1858 г. в списке пожертвовавших деньги значится имя М. Е. Сал-тыкова. По отчету за 1859 г. видно, что он жертвует библиотеке 10 рублей и журналы «Искра» и «Московский вестник» за тот же год. Очень активно участвовали в пополнении фонда библиотеки «Рязанские губернские ведомости», общее руководство которыми Салтыков-Щедрин осуществлял: редакция бесплатно передавала библиотеке свою газету и поступившие в обмен на нее другие периодические издания.
</p>

<p>
    В 1859 г. Салтыков-Щедрин выслал из Рязани тверскому губернатору «Положение об устройстве публичной библиотеки», которое легло в основу устава Тверской библиотеки и помогло открыть в этом городе 22 мая (9 мая по старому стилю) 1860 г. публичную библиотеку.
</p>

<p>
    В фойе библиотеки установлена мемориальная доска, созданная в 1982 г. скульптором Ю. В. Крыловым, с барельефом  писателя и словами: «Рязанская публичная библиотека открыта 2 (14) января 1858 года. В числе попечителей был писатель-сатирик Михаил Евграфович Салтыков-Щедрин».
</p>


</body>
</html>