<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Биография</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Биография</h1>

<p>
    Михаил Евграфович Салтыков-Щедрин (настоящая фамилия Салтыков; псевдоним Н. Щедрин) родился 27 января (15 – по старому стилю) 1826 г. в селе Спас-Угол Тверской губернии  в дворянской семье.
</p>

<p>
    Детские годы провел в родовой усадьбе. Учился в Московском дворянском институте, откуда в 1838 г. его как лучшего ученика перевели в Александровский (бывший Царскосельский) лицей. Здесь Салтыков серьезно увлекся литературой, а в 1841 г. опубликовал свое первое стихотворение. Большое влияние  на формирование мировоззрения Салтыкова оказали  сочинения В.  Г. Белинского.
</p>

<p>
    С 1844 г. после окончания Лицея служил в канцелярии Военного министерства. В 1840-х гг. увлекся теориями социалистов-утопистов,  сблизился с передовым кружком петербургской молодежи — петрашевцами,  с которым впоследствии разошелся. Первые повести «Противоречие» и «Запутанное дело» вызвали недовольство властей.
</p>

<p>
В  1848 г. Салтыков арестован и выслан на службу в Вятку за «вредный образ мыслей». Занимал должности старшего чиновника особых поручений при губернаторе, советника губернского правления.
</p>

<p>
    После смерти Николая I, с началом либерального правительственного курса Салтыков получил возможность вернуться в Петербург. После публикации «Губернских очерков», подписанных псевдонимом Н. Щедрин, писатель приобрел громкую славу.
</p>

<p>
    Салтыков служил чиновником особых поручений в Министерстве внутренних дел, участвовал в подготовке крестьянской реформы 1861 г.
</p>

<p>
    В 1858-1862 гг. был вице-губернатором в Рязани, затем в Твери. Честный «вице-Робеспьер», боровшийся со взяточничеством и помещиками, связанный с либеральной оппозицией, Салтыков-Щедрин был вынужден подать в отставку «по болезни» и полностью посвятил себя литературе. В 1865–1868 гг. он возглавлял Казенные палаты в Пензе, Туле, Рязани. В 1868 г. повелением царя Салтыков уволен в окончательную отставку с запрещением занимать должности на государственной службе.
</p>

<p>
    С 1 января 1868 г. по приглашению Н. А. Некрасова шестнадцать лет работал в «Отечественных записках», а после смерти Некрасова возглавил редакцию журнала. Пока существовали «Отечественные записки» (до 1884 г.) Салтыков-Щедрин работал исключительно для них.
</p>

<p>
    1870—1880-е гг. — время высших творческих достижений Салтыкова-Щедрина. В это время написаны  «История одного города», «Господа ташкентцы», «Дневник провинциала в Петербурге», «Благонамеренные речи», «Убежище Монрепо», «Господа Головлевы», цикл «В среде умеренности и аккуратности» («Господа Молчалины»), «Современная идиллия», «Письма к тетеньке», «Пошехонские рассказы».
</p>

<p>
    Здоровье Салтыкова-Щедрина, расшатанное еще с половины 1870-х годов, было подорвано запрещением «Отечественных записок». Он публиковал свои произведения в журнале «Вестник Европы» и газете «Русские ведомости».
</p>

<p>
    В последние годы жизни, несмотря на тяжелую болезнь, Салтыков-Щедрин создал такие значительные произведения, как «Сказки», в которых сжато отражены почти все главные темы его творчества, «Мелочи жизни» и «Пошехонскую старину».
</p>

<p>
    М. Е. Салтыков-Щедрин умер  10 мая (28 апреля по старому стилю)  1889 г.  По завещанию его похоронили рядом с И. С. Тургеневым на Волковом кладбище в  Петербурге.
</p>

</body>
</html>