<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Салтыкова-Щедрина на посту рязанского вице-губернатора</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Служба М. Е. Салтыкова-Щедрина на посту рязанского вице-губернатора</h1>

    <h2> Присутственные места в Рязани</h2>

<p>
    На площади перед Кремлем (ныне пл. Соборная, 21) располагалось двухэтажное здание присутственных мест, построенное в 1786–1789 гг. (ныне здание обувной фабрики «Рязаньвест»). В нем на протяжении более 100 лет размещалась  губернская администрация. На втором этаже этого здания находилась служебная резиденция М. Е. Салтыкова-Щедрина.
</p>

<p>
    Это одно из первых монументальных зданий Рязани, построенное по регулярному плану, принадлежит к числу наиболее значительных общественных сооружений города в стиле зрелого классицизма. По сравнению с другими губернскими присутственными местами 1780-х гг., памятник отличается более строгой пластикой фасадов, присущей скорее столичной, чем провинциальной архитектуре того времени. Автор проекта – губернский архитектор И. Г. Сулакадзев.
</p>

<p>
    Здание занимает длину целого квартала между проулками, вдоль которых вытянуты его боковые крылья. Внутри здание на каждом этаже состояло из двух изолированных половин, которые разделялись внизу сквозным проездом, а наверху – квадратным залом на всю ширину корпуса.
</p>

<p>
    В нижнем этаже восточную половину здания занимали приказ общественного призрения, архив наместнического правления, чертежная, нижний земский суд и губернская типография, западную – уездное казначейство, денежная кладовая, медицинская управа, городская полиция, магистрат и архив казенной палаты. В верхнем этаже к востоку от центрального зала размещались наместническое правление, палата уголовного суда и дворянское собрание, к западу – казенная палата, палата гражданского суда и уездный суд. Учреждения пространственно были обособлены друг от друга: на первом этаже они имели самостоятельные входы со стороны площади или двора, на втором разделялись лестничными клетками. Две парадные лестницы имели вход со стороны площади. В задней половине здания располагались еще пять лестничных клеток. Все помещения, за исключением нескольких на первом этаже (прихожие, денежная кладовая, архивы), отапливались голландскими печами, некоторые из них имели вогнутое зеркало.
</p>

<p>
    В советское время здание было надстроено двумя этажами, а оба крыла вдоль улиц значительно удлинены, что сильно исказило первоначальный масштаб памятника; уничтожен сквозной проезд, на главном фасаде центральный и боковые входы (по три в каждом ризалите) превращены в окна; не сохранился гербовый щит над средним окном второго этажа на главном фасаде; со двора примыкает несколько пристроек; частично изменена внутренняя планировка обоих этажей, разобраны все сводчатые перекрытия первого этажа, полностью утрачено убранство интерьеров, в том числе все лестницы, вместо которых устроены новые.
</p>

<p>
    От первоначальной внутренней планировки сохранилась значительная часть капитальных стен: продольная, делящая пространство каждого этажа на две половины, и несколько поперечных. На первом этаже в южной части восточного крыла уцелел арочный проем.
</p>

<p>
    В этом здании Салтыков-Щедрин работал  и во второй приезд в Рязань в 1867–1868 гг. в качестве управляющего Рязанской казенной палатой. В память об этом на здании установлена мемориальная доска
</p>

    <h2>Реформа рязанского делопроизводства, борьба со взяточничеством</h2>

<p>
    Состояние дел в рязанской провинции оказалось более плачевным, чем предполагал писатель.  Бюрократический произвол, взяточничество, казнокрадство, крепостническое варварство были распространены повсюду. Деятельность Салтыкова-Щедрина в Губернском правлении  началась с детального изучения делопроизводства. Он провел собственную ревизию, вызывая с докладами по каждому делу чиновников, отвечавших за рассмотрение дел. Предложенная им реформа по улучшению организации делопроизводства, представленная губернатору, в Губернском правлении была утверждена 7 июня, а 9 июля одобрена Министром внутренних дел Ланским.
</p>

<p>
    Салтыков-Щедрин писал брату Дмитрию из Рязани: «Я живу здесь не как свободный человек, а в полном смысле слова как  каторжник, работая ежедневно, не исключая и праздничных дней, не менее 12 часов. Подобного запущения и запустения я никогда не предполагал, хотя был подготовлен ко многому нехорошему; уж одно то, что в месячной ведомости показывается до 2 тысяч бумаг не исполненных,  достаточно покажет тебе, в каком состоянии находится здешнее Губернское правление. А поэтому я должен усиленно работать, чтобы хоть со временем увидеть свет сквозь эту тьму».
</p>

<p>
    Одновременно с ревизией и реформой Салтыков провел «чистку» личного состава Губернского правления и подчиненных ему учреждений. Служащие, уличенные во взяточничестве, казнокрадстве, мошенничестве, были уволены. В Губернское правление пришли новые люди, желавшие служить честно. Протекция по службе потеряла силу. Чиновники продвигались вперед соответственно заслугам и способностям.  По воспоминаниям одного из рязанцев, записанных писателем Г. А. Мачтетом, Салтыков при первом же обращении к чиновникам Губернского правления заявил: «Брать взяток, господа, я не позволю… Кто хочет служить со мною, – пусть оставит эту манеру и служит честно…».
</p>

<p>
    Результат деятельности Салтыкова сказался в первый же год его работы в Губернском правлении. Если по состоянию на 1 января 1858 г. количество нерешенных и нерассмотренных дел составляло 1147, то на 1 января 1859 г. таких дел осталось только 194. Это вынужден был отметить и рязанский губернатор во «Всеподданнейшем» отчете губернатора царю за 1858 г.
</p>

    <h2> Итог двухлетней службы на посту вице-губернатора</h2>

<p>
    6 сентября 1859 г. Александр II подписал указ о перемещении начальников Рязанской губернии – М. К. Клингенберга и Вятской – Н. М. Муравьева  одного на место другого
</p>

<p>
    Отношения между новым губернатором и Салтыковым-Щедриным стали  враждебными.  Салтыков-Щедрин не хотел и не мог потакать новому губернатору, для которого, по словам писателя,  «главное основание всех его действий – неуважение к чужой мысли, чужому мнению и чужому труду…».
</p>

<p>
    Он писал, что Муравьев «откровенно принял губернию за лакейскую и действует соответственно».  Для Салтыкова-Щедрина с его независимым характером такое положение было «несносно» и вскоре он заявил губернатору, что служить с ним не намерен. В апреле     1860 г. писатель переведен на должность вице-губернатора в Тверь.
</p>

<p>
    В период службы  в Рязани Салтыков-Щедрин редко выкраивал время для литературного творчества. Сначала Салтыков-Щедрин дорабатывает написанные им еще до приезда в Рязань рассказы «Гегемониев», «Генерал Зубатов», а затем пишет новые произведения (сказ «Развеселое житье», рассказ «Госпожа Падейкова», пьесу «Суд», драматическую сцену «Погребенные заживо», очерк-памфлет «Скрежет зубовный», статью «Еще скрежет зубовный», памфлет «Наш дружеский хлам»).
</p>

<p>
    Рязань дала писателю богатый материал к его будущим произведениям – от «Развеселого жилья» до «Пошехонской старины». В  Рязани в его творческом сознании  начал возникать образ города Глупова.
</p>

<p>
    За время своего вице-губернаторства Салтыков-Щедрин сделал много полезного и важного: его административные усилия облегчили положение многих крестьян, был наведен порядок в губернском делопроизводстве, оживилась культурная жизнь города, написан ряд талантливых художественных и публицистических произведений, собран богатый материал для последующей литературной работы.
</p>

</body>
</html>