<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Знакомство с Хвощинской</title>
    <style>
        body {
            margin: 0;
            padding: 0 450px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>

<h1>Знакомство с Хвощинской</h1>

<p>
    Салтыков-Щедрин высоко ценил и уважал Надежду Дмитриевну Хвощинскую. Великий сатирик познакомился с ней еще в 1858 г. во время приезда в Рязань, бывал в доме Хвощинских на Семинарской улице (ныне полуразрушенный дом по адресу: улица  Семинарская, 10).
</p>

<p>
    Надежда Дмитриевна Хвощинская родилась в 1822 г. в семье небогатого помещика Д. К. Хвощинского. Она была старшим ребенком в семье. Позже родились Софья и Прасковья. Сестры рано научились читать и выпустили под руководством отца рукописный журнал «Звездочка». Глава семейства решил заняться коннозаводством, но вскоре он разорился и, продав имение, семья переехала в Рязань. Сменив несколько квартир, Хвощинские поселились в доме на Семинарской улице. Сестры занимались литературой. До сих пор сохранилась тетрадка со стихами Надежды Дмитриевны. Впервые ее стихи были опубликованы в журнале «Сын Отечества», затем в «Литературной газете», журналах «Пантеон», «Отечественные записки». В конце 1850-х годов Н. Д. Хво-щинская начинает писать прозу. Печаталась под псевдонимом В. Крестовский.
</p>

<p>
    В продолжение 30 лет Салтыков-Щедрин состоял в переписке с Н. Д. Хвощинской, часто и настойчиво приглашая сотрудничать в «Отечественных записках», выходивших с 1876 г. под его редакцией. «Для журнала нашего особенно дороги ваши произведения, – писал он Хвощинской, став редактором журнала, – так как в них публика всегда найдет для себя отличное и здоровое чтение. Нынешнее время для большинства журналов не весьма благоприятное, и только при содействии ярких дарований можно рассчитывать на успех. Поэтому вы окажете журналу существенную услугу, прислав обещанный роман».
</p>

<p>
    Роман Н. Д. Хвощинской «В ожидании лучшего» (1860) заинтересовал  М. Е. Салтыкова-Щедрина. Говоря коротко об особенностях художественного метода Хвощинской в связи с этим романом, Щедрин указывает, что она в своих сочинениях стоит на почве «психологических тонкостей». Называя Хвощинскую «очень даровитой» писательницей, Щедрин считает, что она «не пользовалась у нас тем успехом, который принадлежит ей по праву таланта».
</p>

</body>
</html>